src/main/resources/META-INF/atomic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.zomwork.com/schema/event"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.zomwork.com/schema/event">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the event producer comsumer by evnet framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="atomicType">

        <xsd:attribute name="projectName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 项目名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="runner" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 测试执行人 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>




    <xsd:element name="atomic" type="atomicType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 测试信息配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>